fastapi
uvicorn[standard]
langchain
langchain-core
langgraph
langchain-anthropic
anthropic
langchain-google-genai
google-generativeai
fastmcp
chromadb
pydantic
httpx
sse-starlette
python-dotenv
structlog
tenacity
sqlalchemy
psycopg2
psycopg2-binary
python-dotenv
PyYAML
pandas
pydantic-settings
boto3
ipykernel
faker
langchain-community
langchain-openai
langchain_mcp_adapters
sqlglot
pyyaml
langchain-chroma
langchain-text-splitters
bs4
pypdf
langchain
pymupdf
langchain-classic
langchain-qdrant
deepagents
langgraph-checkpoint-postgres
langchain-groq
trustcall
langchain_neo4j
langchain-ollama
prettyprinter
tabulate
langgraph-supervisor
qdrant-client